body {
    height: 100%;
    margin: 0;
    top:0;
}

p {
    margin: 0;
    padding: 0;
}

a {color: #ff00d9;}
a:link { color: #ff00d9; }
a:visited { color: #ff00d9; }
a:hover { text-decoration: underline; }
a:focus { color: #ff00d9; }
a:active { color: #ff00d9; }
a:visited:hover{color: #ff00d9; }

.startLoad {
    font-family: "Lucida Console", Monaco, monospace;
    color: #ffd6c4;
    font-size: 16px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-right: -50%;
    transform: translate(-50%, -50%);
}


.startImage {
    position: fixed;
    top:0;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    background-color: #ffe6db;
}

.startImage > p {
    margin:auto;
}

.hide{
    display:none;
}

/* font styling */

.scriptfont {
    font-family: 'Tangerine', cursive;
    padding-top: 100px;
    padding-bottom: 100px;
}

.monofont {
    font-family: "Lucida Console", Monaco, monospace;
    line-height:140%;
    padding-top: 100px;
    padding-bottom: 100px;
}

.slideshow {
    overflow: hidden;
    object-fit: cover;
    width: 100%;
}

.centered {
    text-align: center;
}

.superscript {
    font-size:50%;
    vertical-align:super;
    line-height: 100%;
}

.bold{
    font-weight: bold;
}

.italic {
    font-style: italic;
}

/* color gradients */

.grad-1 {
    color: #ae5b5b;
}

.grad0 {
    color: #ae5b5b;
}

.grad1 {
    background-image:linear-gradient(0deg,#720000,#b9471a,#ae5b5b);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad2 {
    background-image: linear-gradient(180deg,#ce9370,  #dfc1bf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad3 {
    background-image: linear-gradient(180deg,#de7e7e, #b75f3c, #fff2e0);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad4 {
    background-image: linear-gradient(0deg,#de7e7e, #d6bb8f);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad5 {
    background-image: linear-gradient(180deg,#720000, #ffcfc9);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad6 {
    background-image: linear-gradient(0deg,#d06868, #6b1c00);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad7 {
    background-image: linear-gradient(180deg,#d6a48f, #de7e7e);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.grad8 {
    background-image: linear-gradient(0deg, #6b1c00, #0c0c0c);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}


.grad9 {
    background-image: linear-gradient(180deg,#720000, #8c320e,#ff00d9);
    /* background-image: linear-gradient(180deg,#de7e7e, #ce9370, #ffd6c4); */
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.gradCredits {
    color: #ff00d9;
}



/* gradient background */

.mainContainer{
 /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#f0b7a1+0,702b0d+22,000000+50,823e25+79,d6a48f+100 */
background: #f0b7a1; /* Old browsers */
background: -moz-linear-gradient(top,  #f0b7a1 0%, #702b0d 22%, #000000 50%, #823e25 79%, #d6a48f 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top,  #f0b7a1 0%,#702b0d 22%,#000000 50%,#823e25 79%,#d6a48f 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom,  #f0b7a1 0%,#702b0d 22%,#000000 50%,#823e25 79%,#d6a48f 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f0b7a1', endColorstr='#d6a48f',GradientType=0 ); /* IE6-9 */


    opacity: .7;
    background-repeat: no-repeat;
    padding-top: 10%;
    padding-bottom: 10%;
}


/* containers */

.containerText{
    width:40%;
    margin-top: 0;
    margin-left:auto;
    margin-right:auto;
}

.imageContainer > img {
    width: 40vw;
    position: relative;
    left: calc(-40vw + 100%);
    top: -5%;
    margin-top: 0;
    margin-left:auto;
    margin-right:auto;
}

.container{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    display: flex;
}

/* responsive design */

/* Very small devices (small phones, 340px and up) */
@media only screen and (min-width: 340px) {

    .scriptfont {
        font-size: 44px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .monofont {
        font-size: 18px;
        padding-top: 50px;
        padding-bottom: 50px;
    }

    .small, .startLoad  {
        font-size: 11px;
    }

    .containerText{
        width:90%;
    }


}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {

    .scriptfont {
        font-size: 45px; /*7.2vw*/
        padding-top: 60px;
        padding-bottom: 60px;
    }

    .monofont {
        font-size: 19px; /*3.2vw*/
        padding-top: 60px;
        padding-bottom: 60px;
    }


    .small, .startload {
        font-size: 12px;
    }

    .containerText{
        width:70%;
    }

}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {

    .scriptfont {
        font-size: 49px;  /*5.4vw*/
        padding-top: 70px;
        padding-bottom: 70px;
    }

    .monofont {
        font-size: 20px; /*2.2vw*/
        padding-top: 70px;
        padding-bottom: 70px;
    }


    .small, .startLoad  {
        font-size: 13px;
    }

    .containerText{
        width:60%;
    }

}

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {

    .scriptfont {
        font-family: 'Tangerine', cursive;
        font-size: 52px; /*3.2vw*/
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .monofont {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 21px; /*1.2vw*/
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .small, .startLoad  {
        font-size: 14px;
    }

    .containerText{
        width:50%;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {

    .scriptfont {
        font-family: 'Tangerine', cursive;
        font-size: 54px; /*3.2vw*/
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .monofont {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 22px; /*1.2vw*/
        padding-top: 90px;
        padding-bottom: 90px;
    }

    .containerText{
        width:45%;
    }

    .small, .startLoad  {
        font-size: 14px;
    }

}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1600px) {

    .scriptfont {
        font-family: 'Tangerine', cursive;
        font-size: 58px;
    }

    .monofont {
        font-family: "Lucida Console", Monaco, monospace;
        font-size: 24px;
    }

    .containerText{
        width:35%;
    }

    .small, .startLoad  {
        font-size: 14px;
    }

}
